################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WMS_JUN_2026.slnx/FileContentIndex
